<div class="row" style="margin-top: 10px;">
	<div class="large-12 columns">

		<dl class="accordion" data-accordion="">
			{{#each items}}
			  <dd class="accordion-navigation">
			    <a href="#panel{{this.id}}">
			    	<div class="row">
			    	<div class="small-4 medium-2 large-1 columns">
				    	<figure class="bp-acoder-pic text-center">
				    		{{#if this.author.picture}}
				    			<img src="public/images/acoders/{{this.author.picture}}" alt="{{this.author.name}}" class="bp-round">
				    		{{else}}
				    			<img src="public/images/acoders/default-acoder.jpeg" alt="{{this.author.name}}">
				    		{{/if}}
				    		
				    	</figure>
			    	</div>
			    	<div class="small-8 medium-10 large-11 columns">
				    	<div class="bp-title">{{this.title}}</div>

				    	<div class="bp-title-details">
				    		<div class="bp-date"><time datetime="{{this.date}}">{{this.date}}</time></div>
				    		<strong>by {{this.author.name}}</strong>
				    	</div>
			    	</div>
			    	</div>
			    </a>
			    <div id="panel{{this.id}}" class="content">
			    	

			    	<div class="bp-description"><p>{{{this.description}}}</p></div>

					<div class="bp-resources">
						{{#if this.available}}
							<ul>
								<li><a href="{{this.links.slide}}">slide deck</a></li>
								{{#if this.links.youtube}}<li><a href="{{this.links.youtube}}">youtube video</a></li>{{/if}}
							</ul>
					
							<h4>resources</h4>
					    	<ul>
					    		{{#each this.links.resources}}
					    			<li><a href="{{this.link}}">{{this.name}}</a></li>
					    		{{/each}}

					    	</ul>
				    	{{else}}

				    		<div data-alert class="alert-box info radius">
							  We know you are looking forward for this talk, but hold on for a while. We promisse you won't regret!!!
							</div>

				    	{{/if}}
			    	</div>
			    </div>
			  </dd>
		  	{{/each}}
		</dl>
	</div>
<div>